@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================================ defaults ==========================================  */

html,
body {
  padding: 0;
  margin: 0;
  line-height: 28px;
  letter-spacing: -0.025em;
  color: #333;
}

* {
  box-sizing: border-box;
}

/* ================================ Font Colors ==========================================  */

p {
  font-weight: 400;
  color: #64748b;
}

/* ================================ fonts ==========================================  */
.font__primary {
  /* font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}
.font__secondary {
  font-family: "zen dots", cursive, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* ================================ Gradients ==========================================  */
.div__gradient-accent {
  background: rgb(204, 145, 116);
  filter: blur(120px);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  opacity: 0.5;
  z-index: 0;
  left: -10rem;
  top: 10rem;
}
.div__accent-bottom {
  position: absolute;
  bottom: -10rem;
  left: -15rem;
}
.div__accent-bottom,
img {
  width: 160%;
}

.line-mid {
  display: flex;
  flex-direction: row;
}
.line-mid:before,
.line-mid:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid rgb(211, 211, 211);
  margin: auto;
}
